@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

body
{
  padding-top: 5rem;
}

*
{
  font-family: 'Josefin Sans', sans-serif;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}


::-webkit-scrollbar
{
  @apply w-0
}

.border-img
{
  border-top: 4px solid white;
  border-image-source: radial-gradient(circle at top right,
  #bf307a, transparent 50%);
  border-image-slice: 1;
}

li
{
  @apply text-white uppercase hover:text-quaternary duration-300 
}

::selection
{
  @apply text-quaternary
}

button
{
  @apply px-4 py-3 rounded-lg text-lg hover:bg-quaternary duration-500 hover:drop-shadow-lg text-white border-none  uppercase font-bold
}

input, textarea
{
  @apply bg-secondary py-4 px-2
}


.Custom_width
{
  @apply max-w-[1240px] mx-auto
}

